<!-- NASA API page -->

<h2>Nasa - @ViewData["title"]</h2>
<p>@ViewData["copyright"] @ViewData["date"]</p>

<img width="1200px" src="@ViewData["image"]" />
<br />
<p>@ViewData["explanation"]</p>
<br />
<p>@ViewBag.result</p>